<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.links %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

<div class="row">
        <div class="col s12 teal darken-4 ">
            <nav>
                <div class="nav-wrapper teal darken-4">
                    <a href="#" class="brand-logo color-text-landing"> Configurar Landing</a>
                </div>
            </nav>
        </div>

        <div class="col s3 teal lighten-5">
            <ul class="collapsible" data-collapsible="accordion" leftSection>
                <li>
                    <div class="collapsible-header"><i class="small material-icons">assessment</i>Bloque</div>
                    <div class="collapsible-body" id="block-left">

                        <div class="row">
                            <div class="card-panel truncate container_content" id="block">
                                <div class="row text insertable" type="Block" >

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="card-panel truncate container_content">
                                <div class="row" insertable id="block-column">
                                    <div class="col s12 text" type="Block">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row center">
                            <a class="waves-effect waves-light btn-large teal lighten-3" reset>Reiniciar</a>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="small material-icons">assessment</i>Lienzo</div>
                    <div class="collapsible-body">

                        <div class="row">
                            <div class="card-panel truncate">
                                <form action="#">
                                    <div class="row ">
                                        <div class="col s12 20">
                                            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                                            <label for="filled-in-box">Color de fondo</label>
                                        </div>
                                        <div class="col s12 20">
                                            <select >
                                                <option value="" disabled selected>Insertar Imagen</option>
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <p>

                                    </p>
                                </form>
                            </div>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>

        <div class="col s6 teal teal lighten-4 height-content" >
            <div class="container " style="min-height: 400px" id="content-center">
                <div class="row" >
                    hola1
                </div>
            </div>
        </div>

        <div class="col s3 teal teal lighten-3 height-content" id="content-right">
            <div class="container" >

                <!--<div class="row">
                    hola2
                </div>-->

            </div>
        </div>
    </div>


</body>
</html>
