<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.links %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

<div class="row">
        <div class="col s12 teal darken-4 ">
            <nav>
                <div class="nav-wrapper teal darken-4">
                    <a href="#" class="brand-logo color-text-landing"> Configurar Landing</a>
                </div>
            </nav>
        </div>

        <div class="col s3 teal lighten-5">
            <ul class="collapsible" data-collapsible="accordion" leftSection>
                <li>
                    <div class="collapsible-header"><i class="small material-icons">assessment</i>Bloque</div>
                    <div class="collapsible-body" id="block-left">

                        <div class="row">
                            <label>Fila</label>
                            <div class="card-panel truncate container_content" id="block">
                                <div class="row text insertable" type="None" >

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label>Columna</label>
                            <div class="card-panel truncate container_content">

                                <div class="row"  id="block-column">
                                    <div class="col s12 text insertable" type="Block" params='{"c":"12","opacity":"100","align":"left","height":"","textAlign":"left-align"}'>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row center">
                            <a class="waves-effect waves-light btn-large teal lighten-3" reset>Reiniciar</a>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="small material-icons">assessment</i>Lienzo</div>
                    <div class="collapsible-body">

                        <div class="row" id="imagen">
                            <div class="col s12 m12" type="Imagen" params='{"color":"12","src":"","opacity":""}'>
                                <div class="card">
                                    <div class="card-image" >
                                        <img src="images/sample-1.jpg" >
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Button</div>
                    <div class="collapsible-body">
                        <div class="row" >
                            <div class="col s12 m12">
                                <div class="card-panel truncate center-align" id="button">
                                        <a type="Button" params='{"opacity":"100","borderStyle":"none","textTransform":"uppercase","fontFamily":"Roboto","caption":"button"}' class="waves-effect waves-light btn-large">Button</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Texto</div>
                    <div class="collapsible-body">
                        <div class="row" >
                            <div class="col s12 m12">
                                <div class="card-panel truncate center-align" id="text">
                                    <span type="Text" params='{"caption":"Lorem ipsum dolor sit amet."}'>Lorem ipsum dolor sit amet.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Video</div>
                    <div class="collapsible-body">
                        <div class="row" >
                            <div class="col s12 m12">
                                <div class="card-panel truncate center-align" id="video">
                                    <video type="Video" class="responsive-video" controls params='{"url":"videos/big_buck_bunny.mp4"}'>
                                        <source src="videos/big_buck_bunny.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col s6 teal teal lighten-4 height-content" >
            <div class="container" id="content-center">
                <!--<div class="row" >
                    hola

                </div>-->
            </div>
        </div>

        <div class="col s3 teal teal lighten-3 height-content" id="content-right">
            <div class="container" >

                <!--<div class="row">
                    hola2
                </div>-->

            </div>
        </div>
    </div>


</body>
</html>
